.header-bg {
  background: linear-gradient(to right, #033085fd, #360033);
}



.login-bg {
  background-image: url('../../../Assets/loginBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
  margin-top: -100px;
}